<td id="right">
  <table id="model"  border="2">
    <th colspan="4"><h1><strong>HTC</strong></h1></th>





    <tr>
      <td>
        <%=image_tag"htc/OneMax.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.HTCmobile.com/gb/products/phones/"><center>HTC OneMax <br> Coming Soon</center></a>
      </td>
      <td>
        <%=image_tag"htc/Butterfly2.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.HTCmobile.com/gb/products/phones/"><center>HTC  Butterfly 2<br>Coming Soon </center></a>
      </td>
      <td>
        <%=image_tag"htc/butterflyS.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.HTCmobile.com/gb/products/phones/"><center>HTC butterfly S <br>Coming Soon</center></a>
      </td>
      <td>
        <%=image_tag"htc/d620.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.HTCmobile.com/gb/products/phones/"><center>HTC Desire 620  <br>Coming Soon</center></a>
      </td>
    </tr>
    <tr>
      <td>
        <%=image_tag"htc/m9.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.HTCmobile.com/gb/products/phones/"><center>HTC M9<br>just in Rs 86,500 </center></a>
      </td>
      <td>
        <%=image_tag"htc/1m.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.HTCmobile.com/gb/products/phones/"><center>HTC 1m <br>just in Rs 51,000</center></a>
      </td>
      <td>
        <%=image_tag"htc/e8.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.HTCmobile.com/gb/products/phones/"><center>HTC E8<br>just in Rs 49,000</center></a>
      </td>

      <td>
        <%=image_tag"htc/one.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.HTCmobile.com/gb/products/phones/"><center>HTC one <br>just in Rs 42,000</center></a>
      </td>

    </tr>
    <tr>
      <td>
        <%=image_tag"htc/OneMini2.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.HTCmobile.com/gb/products/phones/"><center>HTC OneMini2 <br>just in Rs 35,000 </center></a>
      </td>
      <td>
        <%=image_tag"htc/Eye.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.HTCmobile.com/gb/products/phones/">HTC Eye <br>just in Rs 45,500 </a>
      </td>
      <td>
        <%=image_tag"htc/M8.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.HTCmobile.com/gb/products/phones/">HTC M8 <br>just in Rs 64,000</a>
      </td>
      <td>
        <%=image_tag"htc/Desire816G.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.HTCmobile.com/gb/products/phones/">HTC  Desire 816 G<br>just in Rs 36,000</a>
      </td>
    </tr>

  </table>

</td>

</tr>
