<td id="right">
  <table id="model"  border="2" >
    <th colspan="4"><h1 ><strong><CENTER>Apple I Store</CENTER></strong></h1></th>


    <tr>
      <td>
        <%=image_tag"iphone/i6Plus.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.apple.com/iphone-6/"><center>Apple Iphone 6plus<br>just in Rs 84,000 </center></a>
      </td>
      <td>
        <%=image_tag"iphone/i6.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.apple.com/iphone-6/"><center>Apple Iphone 6<br>just in Rs 78,000 </center></a>
      </td>

      <td>
        <%=image_tag"iphone/5s.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.apple.com/iphone-6/"><center>Apple Iphone 5s 64GB<br>just in Rs 70,000 </center></a>
      </td>

      <td>
        <%=image_tag"iphone/5s.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.apple.com/iphone-6/"><center>Apple Iphone 5 64GB<br>just in Rs 64,000 </center></a>
      </td>

    </tr>
    <tr>
      <td>
        <%=image_tag"iphone/5s.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.apple.com/iphone-6/"><center>Apple Iphone 5S 32GB<br>just in Rs 66,000 </center></a>
      </td>
      <td>
        <%=image_tag"iphone/5s.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.apple.com/iphone-6/"><center>Apple Iphone 5 32GB<br>just in Rs 60,000 </center></a>
      </td>
      <td>
        <%=image_tag"iphone/5C.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.apple.com/iphone-6/"><center>Apple Iphone 5C 32GB<br>just in Rs 35,000 </center></a>
      </td>
      <td>
        <%=image_tag"iphone/5C.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.apple.com/iphone-6/"><center>Apple Iphone 5C 16GB<br>just in Rs 32,000 </center></a>
      </td>
<tr>
    <td>
      <%=image_tag"iphone/i6Plus.jpg",:size => "70x100",:alt=>"mobile"%><br>
      <a id="model" href="http://www.apple.com/iphone-6/"><center>Apple Iphone 6plus<br>just in Rs 84,000 </center></a>
    </td>
    <td>
      <%=image_tag"iphone/i6.jpg",:size => "70x100",:alt=>"mobile"%><br>
      <a id="model" href="http://www.apple.com/iphone-6/"><center>Apple Iphone 6<br>just in Rs 78,000 </center></a>
    </td>

    <td>
      <%=image_tag"iphone/5s.jpg",:size => "70x100",:alt=>"mobile"%><br>
      <a id="model" href="http://www.apple.com/iphone-6/"><center>Apple Iphone 5s 64GB<br>just in Rs 70,000 </center></a>
    </td>

    <td>
      <%=image_tag"iphone/5s.jpg",:size => "70x100",:alt=>"mobile"%><br>
      <a id="model" href="http://www.apple.com/iphone-6/"><center>Apple Iphone 5 64GB<br>just in Rs 64,000 </center></a>
    </td>

  </tr>
    <tr>
      <td>
        <%=image_tag"iphone/5s.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.apple.com/iphone-6/"><center>Apple Iphone 5S 32GB<br>just in Rs 66,000 </center></a>
      </td>
      <td>
        <%=image_tag"iphone/5s.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.apple.com/iphone-6/"><center>Apple Iphone 5 32GB<br>just in Rs 60,000 </center></a>
      </td>
      <td>
        <%=image_tag"iphone/5C.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.apple.com/iphone-6/"><center>Apple Iphone 5C 32GB<br>just in Rs 35,000 </center></a>
      </td>
      <td>
        <%=image_tag"iphone/5C.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.apple.com/iphone-6/"><center>Apple Iphone 5C 16GB<br>just in Rs 32,000 </center></a>
      </td>

    </tr>
  </table>

</td>

</tr>