<td id="right">
  <table id="model"  border="2">
    <th colspan="4"><h1 style="color:grey"><strong><CENTER>Lenovo</CENTER></strong></h1></th>


    <tr>
      <td>
        <%=image_tag"lenovo/A319.jpg",:size =>"70*100",:alt =>"Lenovo A319"%>
        <br>
        <a id="model" href="http://www.lenovo.com/eg/en/"><center>Lenovo A319<br>just in Rs 7,900 </center></a>
      </td>
      <td>
        <%=image_tag"lenovo/A328.jpg",:size =>"70*100",:alt =>"Lenovo A328"%>
        <br>
        <a id="model" href="http://www.lenovo.com/eg/en/"><center>Lenovo A328 <br>just in Rs 11,900</center></a>
      </td>
      <td>
        <%=image_tag"lenovo/A369.jpg",:size =>"70*100",:alt =>"Lenovo A369i"%>
        <br>
        <a id="model" href="http://www.lenovo.com/eg/en/"><center>Lenovo A369i<br>just in Rs 7,900</center></a>
      </td>
      <td>
        <%=image_tag"lenovo/A536.jpg",:size =>"70*100",:alt =>"Lenovo A536"%>
        <br>
        <a id="model" href="http://www.lenovo.com/eg/en/"><center>Lenovo A536<br>just in Rs 14,900</center></a>
      </td>
    </tr>


    <tr>
      <td>
        <%=image_tag"lenovo/A319.jpg",:size =>"70*100",:alt =>"Lenovo A319"%>
        <br>
        <a id="model" href="http://www.lenovo.com/eg/en/"><center>Lenovo A319<br>just in Rs 7,900 </center></a>
      </td>
      <td>
        <%=image_tag"lenovo/S650.jpg",:size =>"70*100",:alt =>"Lenovo S650"%>
        <br>
        <a id="model" href="http://www.lenovo.com/eg/en/"><center>Lenovo S650<br>just in Rs 16,900</center></a>
      </td>
      <td>
        <%=image_tag"lenovo/S850.jpg",:size =>"70*100",:alt =>"Lenovo S850"%>
        <br>
        <a id="model" href="http://www.lenovo.com/eg/en/"><center>Lenovo S850<br>just in Rs 24,900</center></a>
      </td>
      <td>
        <%=image_tag"lenovo/S860.jpg",:size =>"70*100",:alt =>"Lenovo S860"%>
        <br>
        <a id="model" href="http://www.lenovo.com/eg/en/"><center>Lenovo S860<br>just in Rs 35,500</center></a>
      </td>
    </tr>
    <tr>
      <td>
        <%=image_tag"lenovo/X2.jpg",:size =>"70*100",:alt =>"Lenovo Vibe X2"%>
        <br>
        <a id="model" href="http://www.lenovo.com/eg/en/"><center>Lenovo Vibe X2<br>just in Rs 44,500</center></a>
      </td>
      <td>
        <%=image_tag"lenovo/S650.jpg",:size =>"70*100",:alt =>"Lenovo S650"%>
        <br>
        <a id="model" href="http://www.lenovo.com/eg/en/"><center>Lenovo S650<br>just in Rs 16,900</center></a>
      </td>
      <td>
        <%=image_tag"lenovo/A369.jpg",:size =>"70*100",:alt =>"Lenovo A369i"%>
        <br>
        <a id="model" href="http://www.lenovo.com/eg/en/"><center>Lenovo A369i<br>just in Rs 7,900</center></a>
      </td>
      <td>
        <%=image_tag"lenovo/A319.jpg",:size =>"70*100",:alt =>"Lenovo A319"%>
        <br>
        <a id="model" href="http://www.lenovo.com/eg/en/"><center>Lenovo A319<br>just in Rs 7,900 </center></a>
      </td>
    </tr>
    <tr>
      <td>
        <%=image_tag"lenovo/S850.jpg",:size =>"70*100",:alt =>"Lenovo S850"%>
        <br>
        <a id="model" href="http://www.lenovo.com/eg/en/"><center>Lenovo S850<br>just in Rs 24,900</center></a>
      </td>
      <td>
        <%=image_tag"lenovo/A369.jpg",:size =>"70*100",:alt =>"Lenovo A369i"%>
        <br>
        <a id="model" href="http://www.lenovo.com/eg/en/"><center>Lenovo A369i<br>just in Rs 7,900</center></a>
      </td>
      <td>
        <%=image_tag"lenovo/X2.jpg",:size =>"70*100",:alt =>"Lenovo Vibe X2"%>
        <br>
        <a id="model" href="http://www.lenovo.com/eg/en/"><center>Lenovo Vibe X2<br>just in Rs 44,500</center></a>
      </td>
      <td>
        <%= image_tag"lenovo/A319.jpg",:size =>"70*100",:alt =>"Lenovo A319"%>
        <br>
        <a id="model" href="http://www.lenovo.com/eg/en/"><center>Lenovo A319<br>just in Rs 7,900 </center></a>
      </td>
    </tr>


  </table>

</td>

