<td id="right">
  <table id="model"  border="2">
    <th colspan="4"><h1 ><strong>LG SmartPhone</strong></h1></th>


    <tr>
      <td>

        <%=image_tag"lg/Gflexs.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.lg.com/ae/smart-phone">LG G flex<br>just in Rs 52,000</a>
      </td>
      <td>
        <%=image_tag"lg/optimusG.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.lg.com/ae/smart-phone">LG optimus G<br>just in Rs 50,000</a>
      </td>
      <td>

        <%=image_tag"lg/Gpro2s.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.lg.com/ae/smart-phone">LG Pro 2<br>just in Rs 42,000</a>
      </td>
      <td>
        <%=image_tag"lg/G3.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.lg.com/ae/smart-phone">LG G3<br>just in Rs 39,000</a>
      </td>
    </tr>



    <tr>
      <td>

        <%=image_tag"lg/Nexus5.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.lg.com/ae/smart-phone">LG Nexus 5<br>just in Rs 36,000</a>
      </td>
      <td>
        <%=image_tag"lg/G2.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.lg.com/ae/smart-phone">LG G2<br>just in Rs 35,000</a>
      </td>
      <td>

        <%=image_tag"lg/4xhd.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.lg.com/ae/smart-phone">LG G 4X HD<br>just in Rs 34,000</a>
      </td>
      <td>
        <%=image_tag"lg/nexus4.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.lg.com/ae/smart-phone">LG Nexus4<br>just in Rs 33,000</a>
      </td>
    </tr>

    <tr>
      <td>

        <%=image_tag"lg/Gflexs.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.lg.com/ae/smart-phone">LG G flex<br>just in Rs 52,000</a>
      </td>
      <td>
        <%=image_tag"lg/optimusG.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.lg.com/ae/smart-phone">LG optimus G<br>just in Rs 50,000</a>
      </td>
      <td>

        <%=image_tag"lg/Gpro2s.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.lg.com/ae/smart-phone">LG Pro 2<br>just in Rs 42,000</a>
      </td>
      <td>
        <%=image_tag"lg/G3.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.lg.com/ae/smart-phone">LG G3<br>just in Rs 39,000</a>
      </td>
    </tr>



    <tr>
      <td>

        <%=image_tag"lg/Nexus5.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.lg.com/ae/smart-phone">LG Nexus 5<br>just in Rs 36,000</a>
      </td>
      <td>
        <%=image_tag"lg/G2.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.lg.com/ae/smart-phone">LG G2<br>just in Rs 35,000</a>
      </td>
      <td>

        <%=image_tag"lg/4xhd.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.lg.com/ae/smart-phone">LG G 4X HD<br>just in Rs 34,000</a>
      </td>
      <td>
        <%=image_tag"lg/nexus4.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.lg.com/ae/smart-phone">LG Nexus4<br>just in Rs 33,000</a>
      </td>
    </tr>

  </table>

</td>

