<td id="right">
  <table id="model"  border="2">
    <th colspan="4"><h1 style="color:grey"><strong><CENTER>Q-Mobile</CENTER></strong></h1></th>


    <tr>
      <td>
        <%=image_tag"Qmobile/A400.jpg",:size =>"70*100",:alt =>"QMobile Noir A400"%>
        <br>
        <a id="model" href="http://www.qmobile.com.pk/"><center>QMobile Noir A400<br>just in Rs 13,000 </center></a>
      </td>
      <td>
        <%=image_tag"Qmobile/A900.jpg",:size =>"70*100",:alt =>"QMobile Noir A900"%>
        <br>
        <a id="model" href="http://www.qmobile.com.pk/"><center>QMobile Noir A900 <br>just in Rs 18,800</center></a>
      </td>
      <td>
        <%=image_tag"Qmobile/i7.jpg",:size =>"70*100",:alt =>"QMobile Noir i7"%>
        <br>
        <a id="model" href="http://www.qmobile.com.pk/"><center>QMobile Noir i7<br>just in Rs 13,800</center></a>
      </td>
      <td>
        <%=image_tag"Qmobile/i9.jpg",:size =>"70*100",:alt =>"QMobile Noir i9"%>
        <br>
        <a id="model" href="http://www.qmobile.com.pk/"><center>QMobile Noir i9<br>just in Rs 15,000</center></a>
      </td>
    </tr>


    <tr>
      <td>
        <%=image_tag"Qmobile/LT10.jpg",:size =>"70*100",:alt =>"QMobile Linq LT10"%>
        <br>
        <a id="model" href="http://www.qmobile.com.pk/"><center>QMobile Linq LT10<br>just in Rs 14,500</center></a>
      </td>
      <td>
        <%=image_tag"Qmobile/M300.jpg",:size =>"70*100",:alt =>"QMobile Noir M300"%>
        <br>
        <a id="model" href="http://www.qmobile.com.pk/"><center>QMobile Noir M300<br>just in Rs 18,000</center></a>
      </td>
      <td>
        <%=image_tag"Qmobile/Q1000.jpg",:size =>"70*100",:alt =>"QMobile Tablet QTab Q1000"%>
        <br>
        <a id="model" href="http://www.qmobile.com.pk/"><center>QMobile Tablet QTab Q1000<br>just in Rs 21,000</center></a>
      </td>
      <td>
        <%=image_tag"Qmobile/Q850.jpg",:size =>"70*100",:alt =>"QMobile Tablet QTab Q850"%>
        <br>
        <a id="model" href="http://www.qmobile.com.pk/"><center>QMobile Tablet QTab Q850<br>just in Rs 16,500</center></a>
      </td>
    </tr>
    <tr>
      <td>
        <%=image_tag"Qmobile/T600.jpg",:size =>"70*100",:alt =>"QMobile Linq LT600"%>
        <br>
        <a id="model" href="http://www.qmobile.com.pk/"><center>QMobile Linq LT600<br>just in Rs 17,999</center></a>
      </td>
      <td>
        <%=image_tag"Qmobile/X400.jpg",:size =>"70*100",:alt =>"QMobile Noir X400"%>
        <br>
        <a id="model" href="http://www.qmobile.com.pk/"><center>QMobile Noir X400<br>just in Rs 12,50092000</center></a>
      </td>
      <td>
        <%=image_tag"Qmobile/X600.jpg",:size =>"70*100",:alt =>"QMobile Noir X600"%>
        <br>
        <a id="model" href="http://www.qmobile.com.pk/"><center>QMobile Noir X600<br>just in Rs 18,000</center></a>
      </td>
      <td>
        <%=image_tag"Qmobile/X900.jpg",:size =>"70*100",:alt =>"QMobile Noir X900 16GB"%>
        <br>
        <a id="model" href="http://www.qmobile.com.pk/"><center>QMobile Noir X900 16GB<br>just in Rs 18,500</center></a>
      </td>
    </tr>
    <tr>
      <td>
        <%=image_tag"Qmobile/Z5.jpg",:size =>"70*100",:alt =>"QMobile Noir Quatro Z5"%>
        <br>
        <a id="model" href="http://www.qmobile.com.pk/"><center>QMobile Noir Quatro Z5<br>just in Rs 35,000</center></a>
      </td>
      <td>
        <%=image_tag"Qmobile/Z6.jpg",:size =>"70*100",:alt =>"QMobile Noir Z6"%>
        <br>
        <a id="model" href="http://www.qmobile.com.pk/"><center>QMobile Noir Z6<br>just in Rs 22,500</center></a>
      </td>
      <td>
        <%=image_tag"Qmobile/Z7.jpg",:size =>"70*100",:alt =>"QMobile Noir Z7"%>
        <br>
        <a id="model" href="http://www.qmobile.com.pk/"><center>QMobile Noir Z7<br>just in Rs 23,500</center></a>
      </td>
      <td>
        <%=image_tag"Qmobile/Z8.jpg",:size =>"70*100",:alt =>"QMobile Noir Z8"%>
        <br>
        <a id="model" href="http://www.qmobile.com.pk/"><center>QMobile Noir Z8<br>just in Rs 19,999</center></a>
      </td>
    </tr>


  </table>

</td>
