<td id="right">
  <table id="model"  border="2">
    <th colspan="4"><h1 ><strong><CENTER>Samsung SmartPhone</CENTER></strong></h1></th>


    <tr>
      <td>

        <%=image_tag"samsung/s6edge.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.samsung.com/uk/galaxys6/"><center>Samsung S6 edge<br>just in Rs 92,999 </center></a>
      </td>
      <td>
        <%=image_tag"samsung/s6.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.samsung.com/uk/galaxys6/"><center>Samsung S6 <br>just in Rs 78,999</center></a>
      </td>
      <td>
        <%=image_tag"samsung/Note4Edge.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.samsung.com/uk/galaxys6/"><center>Samsung Note4 edge<br>just in Rs 89,000</center></a>
      </td>
      <td>
        <%=image_tag"samsung/Note4.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.samsung.com/uk/galaxys6/"><center>Samsung Note4<br>just in Rs 78,000</center></a>
      </td>
    </tr>


    <tr>
      <td>
        <%=image_tag"samsung/S5.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.samsung.com/uk/galaxys6/"><center>Samsung S 5<br>just in Rs 61,000</center></a>
      </td>
      <td>
        <%=image_tag"samsung/S4zoom.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.samsung.com/uk/galaxys6/"><center>Samsung S4 zoom <br>just in Rs 57,000</center></a>
      </td>
      <td>
        <%=image_tag"samsung/GalaxyA7.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.samsung.com/uk/galaxys6/"><center>Samsung GalaxyA7<br>just in Rs 55,000</center></a>
      </td>
      <td>
        <%=image_tag"samsung/note3.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.samsung.com/uk/galaxys6/"><center>Samsung Note3 <br>just in Rs 53,999</center></a>
      </td>
    </tr>

    <tr>
      <td>
        <%=image_tag"samsung/GalaxyAlpha.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.samsung.com/uk/galaxys6/"><center>Samsung Galaxy Alpha<br>just in Rs 55,000 </center></a>
      </td>
      <td>
        <%=image_tag"samsung/GalaxyA5.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.samsung.com/uk/galaxys6/"><center>Samsung GalaxyA5<br>just in Rs 45,000</center></a>
      </td>
      <td>
        <%=image_tag"samsung/GalaxyS4.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.samsung.com/uk/galaxys6/"><center>Samsung GalaxyS4<br>just in Rs 37,500</center></a>
      </td>
      <td>
        <%=image_tag"samsung/GalaxyE7.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.samsung.com/uk/galaxys6/"><center>Samsung GalaxyE7<br>just in Rs 36,500</center></a>
      </td>
    </tr>


    <tr>
      <td>
        <%=image_tag"samsung/GalaxyGrand2.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.samsung.com/uk/galaxys6/"><center>Samsung GalaxyGrand2<br>just in Rs 35,000</center></a>
      </td>
      <td>
        <%=image_tag"samsung/GalaxyE5.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.samsung.com/uk/galaxys6/"><center>Samsung GalaxyE5<br>just in Rs 32,000</center></a>
      </td>
      <td>
        <%=image_tag"samsung/GalaxyA3.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.samsung.com/uk/galaxys6/"><center>Samsung GalaxyA3<br>just in Rs 31,500</center></a>
      </td>
      <td>
        <%=image_tag"samsung/GalaxyGrandPrimes.jpg",:size => "70x100",:alt=>"mobile"%><br>
        <a id="model" href="http://www.samsung.com/uk/galaxys6/"><center>Samsung GalaxyGrandPrime<br>just in Rs 19,999</center></a>
      </td>
    </tr>


  </table>

</td>

