<td id="right">
  <table id="model"  border="2">
    <th colspan="4"><h1 ><strong><CENTER>Voice</CENTER></strong></h1></th>


    <tr>
      <td>
        <%=image_tag"Voice/V22.jpg",:size =>"70*100",:alt =>"Voice Xtreme V22"%>
        <br>
        <a id="model" href="http://www.unitedmobile.com.pk/"><center>Voice Xtreme V22<br>just in Rs 8,300 </center></a>
      </td>
      <td>
        <%=image_tag"Voice/V25.jpg",:size =>"70*100",:alt =>"Voice Xtreme V25"%>
        <br>
        <a id="model" href="http://www.unitedmobile.com.pk/"><center>Voice Xtreme V25<br>just in Rs 8,900</center></a>
      </td>
      <td>
        <%=image_tag"Voice/V30.jpg",:size =>"70*100",:alt =>"Voice Xtreme V30"%>
        <br>
        <a id="model" href="http://www.unitedmobile.com.pk/"><center>Voice Xtreme V30<br>just in Rs 10,200</center></a>
      </td>
      <td>
        <%=image_tag"Voice/V35.jpg",:size =>"70*100",:alt =>"Voice Xtreme V35"%>
        <br>
        <a id="model" href="http://www.unitedmobile.com.pk/"><center>Voice Xtreme V35<br>just in Rs 11,500</center></a>
      </td>
    </tr>


    <tr>
      <td>
        <%=image_tag"Voice/V40.jpg",:size =>"70*100",:alt =>"Voice Xtreme V40"%>
        <br>
        <a id="model" href="http://www.unitedmobile.com.pk/"><center>Voice Xtreme V40<br>just in Rs 11,500</center></a>
      </td>
      <td>
        <%=image_tag"Voice/V40i.jpg",:size =>"70*100",:alt =>"Voice Xtreme V40i"%>
        <br>
        <a id="model" href="http://www.unitedmobile.com.pk/"><center>Voice Xtreme V40i<br>just in Rs 11,200</center></a>
      </td>
      <td>
        <%=image_tag"Voice/V50.jpg",:size =>"70*100",:alt =>"Voice Xtreme V50"%>
        <br>
        <a id="model" href="http://www.unitedmobile.com.pk/"><center>Voice Xtreme V50<br>just in Rs 11,800</center></a>
      </td>
      <td>
        <%=image_tag"Voice/V55.jpg",:size =>"70*100",:alt =>"Voice Xtreme V55"%>
        <br>
        <a id="model" href="http://www.unitedmobile.com.pk/"><center>Voice Xtreme V55<br>just in Rs 11,900</center></a>
      </td>
    </tr>
    <tr>
      <td>
        <%=image_tag"Voice/V60.jpg",:size =>"70*100",:alt =>"Voice Xtreme V60"%>
        <br>
        <a id="model" href="http://www.unitedmobile.com.pk/"><center>Voice Xtreme V60<br>just in Rs 11,800</center></a>
      </td>
      <td>
        <%=image_tag"Voice/V65.jpg",:size =>"70*100",:alt =>"Voice Xtreme V65"%>
        <br>
        <a id="model" href="http://www.unitedmobile.com.pk/"><center>Voice Xtreme V65<br>just in Rs 14,800</center></a>
      </td>
      <td>
        <%=image_tag"Voice/V70.jpg",:size =>"70*100",:alt =>"Voice Xtreme V70"%>
        <br>
        <a id="model" href="http://www.unitedmobile.com.pk/"><center>Voice Xtreme V70<br>just in Rs 15,500</center></a>
      </td>
      <td>
        <%=image_tag"Voice/V75.jpg",:size =>"70*100",:alt =>"Voice Xtreme V75"%>
        <br>
        <a id="model" href="http://www.unitedmobile.com.pk/"><center>Voice Xtreme V75<br>just in Rs 15,800</center></a>
      </td>
    </tr>
    <tr>
      <td>
        <%=image_tag"Voice/V80.jpg",:size =>"70*100",:alt =>"Voice Xtreme V80"%>
        <br>
        <a id="model" href="http://www.unitedmobile.com.pk/"><center>Voice Xtreme V80<br>just in Rs 16,500</center></a>
      </td>
      <td>
        <%=image_tag"Voice/V90.jpg",:size =>"70*100",:alt =>"Voice Xtreme V90"%>
        <br>
        <a id="model" href="http://www.unitedmobile.com.pk/"><center>Voice Xtreme V90<br>just in Rs 20,900</center></a>
      </td>
      <td>
        <%=image_tag"Voice/X3.jpg",:size =>"70*100",:alt =>"Voice Xtreme X3"%>
        <br>
        <a id="model" href="http://www.unitedmobile.com.pk/"><center>Voice Xtreme X3<br>just in Rs 16,500</center></a>
      </td>
      <td>
        <%=image_tag"Voice/X5.jpg",:size =>"70*100",:alt =>"Voice Xtreme X5"%>
        <br>
        <a id="model" href="http://www.unitedmobile.com.pk/"><center>Voice Xtreme X5<br>just in Rs 20,500</center></a>
      </td>
    </tr>


  </table>

</td>
