<!DOCTYPE html>
<html>
<head>
  <title>MobilePhoneprices.com</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'defaults', 'data-turbolinks-track' => true %>
   <%= csrf_meta_tags %>

</head>
<body>


<table id="fpg">
  <!-- first row-->
  <tr id="banner" >
    <td colspan="2">
      <a><strong>SmartPhone World<BR>MobilePhoneprices.com<br></strong><input type="text" name="search" va50"" placeholder="Google Search"></a>
    </td>
  </tr>
  <!-- 2nd row-->


  <tr id="img" >
    <td colspan="2">

      <%=image_tag"m.jpg",:size => "450x250",:alt=>"mobile"%>
      <%=image_tag"abc.jpg",:size => "450x250",:alt=>"mobile"%>
      <%=image_tag"m2.jpg",:size => "400x250",:alt=>"mobile"%>

    </td>
  </tr>
  <!--3rd row-->
  <tr id="content">

    <td id="left">

      <table id="brand" border="2">
        <th ><a href="../ror/Home"><center><strong>BRANDS</strong></center></a></th>


        <tr><td><a href="../ror/Samsung"target="_blank">Samsung</a></td></tr>
        <tr><td><a href="../ror/iphone"target="_blank">Iphone</a></td></tr>
        <tr><td><a href="../ror/Gfive"target="_blank">G'five</a></td></tr>
        <tr><td><a href="../ror/Sony"target="_blank">SONY</a></td></tr>
        <tr><td><a href="../ror/HTC"target="_blank">HTC</a></td></tr>
        <tr><td><a href="../ror/lg"target="_blank">LG</a></td></tr>
        <tr><td><a href="../ror/OPPO"target="_blank">OPPO</a></td></tr>
        <tr><td><a href="../ror/Nokia"target="_blank">Nokia</a></td></tr>
        <tr><td><a href="../ror/Huawei"target="_blank">Huawei</a></td></tr>
        <tr><td><a href="../ror/Rivo"target="_blank">RIVO</a></td></tr>
        <tr><td><a href="../ror/Motorola"target="_blank">Motorola</a></td></tr>
        <tr><td><a href="../ror/Voice"target="_blank">Voice</a></td></tr>
        <tr><td><a href="../ror/Blackberry"target="_blank">BlackBerry</a></td></tr>
        <tr><td><a href="../ror/Qmobile"target="_blank">Qmobile</a></td></tr>
        <tr><td><a href="../ror/Lenovo"target="_blank">Lenovo</a></td></tr>
        <tr><td><a href="../ror/microsoft"target="_blank">Microsoft</a></td></tr>

      </table><br>
<table id="brand" border="2">
  <th colspan="2"><a><strong>Follow us</strong></a></th>
<tr><td><a href="http://www.facebook.com"> <%=image_tag"flogo.jpg",:size => "60x80",:alt=>"logo"%></a></td>
  <td><a href="https://twitter.com/?lang=en"> <%=image_tag"tlogo.jpg",:size => "60x80",:alt=>"logo"%></a></td></tr>
</table>
    </td>
    <!--row partition-->
    <%= yield %>
  </tr>
  <!--4th row-->
  <tr id="footer">
    <td colspan="2">
      Copyright © 2015 www.mobilephoneprice.com.pk. All Rights Reserved.

    </td>
  </tr>

</table>



</body>
</html>
